/* Asegúrate de que el cuerpo de la página no tenga márgenes adicionales que causen el desplazamiento */
body {
    margin: 0;
    overflow-x: hidden; /* Esto asegurará que no haya desplazamiento horizontal */
}

.swal2-popup.my-popup {
    max-width: none; /* Permitir que el popup ocupe todo el ancho necesario */
    width: auto; /* Ajustar el ancho automáticamente al contenido */
}

#sectionCesta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

#btnVolverCatalogo {
    font-size: 1.1em;
    transition: transform 0.3s linear, background-color 0.3s linear, border-color 0.08s linear, color 0.3s linear;
    margin-top: 10px;
    border: 2px solid transparent;
    background-color: rgb(173, 216, 230);
    border-radius: 10px;
}

#btnVolverCatalogo:hover {
    transform: translate(0px, -5px);
    background-color: rgb(87, 204, 243);
}

#MensajeSinPedidosCesta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pSinProductosCesta {
    margin: 5%;
    padding: 0px;
    text-align: center;
}

.btn-redirigir {
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    background-color: rgb(11, 102, 195);
    transition: transform 0.3s linear, background-color 0.3s linear;
}

.btn-redirigir:hover {
    color: white;
    transform: translate(0px, -5px);
    background-color: rgb(8, 75, 144);
}

.cardProducto {
    background-color: rgba(245, 245, 220, 1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    transition: transform linear 0.3s;
    margin: 5px;
    width: calc(33.33% - 10px);
    justify-content: space-between;
}

.cardProducto:hover {
    background-color: rgba(230, 230, 207, 1);
}

.imagenProducto {
    border-radius: 20px;
    height: auto;
    width: 50%;
    max-width: 100%;
    align-self: center;
}

.card-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 5px !important;
}

.btnEliminarDeCesta {
    transition: transform 0.3s linear, background-color 0.3s linear, border-color 0.08s linear, color 0.3s linear;
    width: 50%;
    margin-top: 10px;
    border: 2px solid transparent;
    background-color: rgb(244, 164, 164) !important;
    border-radius: 10px;

}

.btnEliminarDeCesta:hover {
    transform: translate(0px, -5px);
    background-color: rgb(240, 128, 128) !important;
}

.custom-close-button {
    font-size: 20px; /* Tamaño de la fuente */
    color: #d33; /* Color del texto */
    border: none; /* Sin borde */
    background: none; /* Sin fondo */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    outline: none; /* Quitar el borde del cuadro cuando está enfocado */
}

.custom-close-button:focus {
    outline: none; /* Quitar el borde del cuadro cuando está enfocado */
}

.custom-close-button:hover {
    color: #f00; /* Color al pasar el ratón */
}

@keyframes bounce {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

#btn-iniciarPago {
    display: inline-block;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    background-color: #28a745;
    border: 2px solid #28a745;
    cursor: pointer;
    outline: none;
    margin: 20px;
    animation: bounce 1.5s infinite;
}

#btn-iniciarPago:hover,
#btn-iniciarPago:focus {
    background-color: #218838;
    border-color: #218838;
    transform: scale(1.05);
}

#btn-iniciarPago i {
    margin-right: 10px;
}


.btn-pago {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    color: #fff;
    border: 2px solid;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
    cursor: pointer;
    outline: none;
    margin: 10px;
}

.btn-pago:hover,
.btn-pago:focus {
    transform: scale(1.05);
}

.visa {
    background-color: #1a1f71;
    border-color: #1a1f71;
}

.visa:hover,
.visa:focus {
    background-color: #14206d;
    border-color: #14206d;
}

.paypal {
    background-color: #003087;
    border-color: #003087;
}

.paypal:hover,
.paypal:focus {
    background-color: #002775;
    border-color: #002775;
}

.mastercard {
    background-color: #ff5f00;
    border-color: #ff5f00;
}

.mastercard:hover,
.mastercard:focus {
    background-color: #e65500;
    border-color: #e65500;
}

.apple-pay {
    background-color: #000;
    border-color: #000;
}

.apple-pay:hover,
.apple-pay:focus {
    background-color: #333;
    border-color: #333;
}

.google-pay {
    background-color: #4285f4;
    border-color: #4285f4;
}

.google-pay:hover,
.google-pay:focus {
    background-color: #3367d6;
    border-color: #3367d6;
}

.bitcoin {
    background-color: #f7931a;
    border-color: #f7931a;
}

.bitcoin:hover,
.bitcoin:focus {
    background-color: #e67e00;
    border-color: #e67e00;
}

/* Estilos para los íconos dentro del botón */
.btn-pago i {
    margin-right: 10px;
}