@page
@using Cesta.Localization
@using Cesta.Permissions
@using Cesta.Web.Pages.ProductosCrud
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Authorization
@model IndexModel
@inject IStringLocalizer<CestaResource> L
@inject IAuthorizationService AuthorizationService
@section scripts
{
    <abp-script src="/Pages/ProductosCrud/Index.js" />
}
<script type="module" src="https://www.gstatic.com/firebasejs/10.12.0/firebase-app.js"></script>
<script type="module" src="https://www.gstatic.com/firebasejs/10.12.0/firebase-database.js"></script>
<script type="module" src="./Pages/ProductosCrud/firebase.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<script>

    // import { getDatabase, ref, child, get } from 'firebase/database';
    // Follow this pattern to import other Firebase services
    // import { } from 'firebase/<service>';

    // TODO: Replace the following with your app's Firebase project configuration
    

</script>

<style>
    .colored-toast.swal2-icon-success {
        background-color: #a5dc86 !important;
    }

    .colored-toast.swal2-icon-error {
        background-color: #f27474 !important;
    }

    .colored-toast.swal2-icon-warning {
        background-color: #f8bb86 !important;
    }

    .colored-toast.swal2-icon-info {
        background-color: #3fc3ee !important;
    }

    .colored-toast.swal2-icon-question {
        background-color: #87adbd !important;
    }

    .colored-toast .swal2-title {
        color: white;
    }

    .colored-toast .swal2-close {
        color: white;
    }

    .colored-toast .swal2-html-container {
        color: white;
    }
</style>


<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Productos"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                
                @if(await AuthorizationService.IsGrantedAsync(CestaPermissions.Productos.Create))
                {
                    <abp-button id="NewProductoButton"
                                text="@L["NewProducto"].Value"
                                icon="plus"
                                button-type="Primary" />
                }

            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <div id="loadingGif" style="display: flex; margin-bottom: 10px; justify-content: center;">
            <i class="fas fa-spinner fa-pulse fa-lg"></i>
        </div>

        <abp-table striped-rows="true" id="ProductosTable"></abp-table>
        
        @* <abp-button onclick="readData()" text="Leer Datos" /> *@

    </abp-card-body>
</abp-card>